:root {
  --background: #191919;
  --foreground: #ededed;
  --highlight: #00ff00;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Apply to headings, paragraphs, and links, but not all spans */
h1, h2, h3, h4, h5, h6, p, a {
  color: var(--foreground);
}

/* Use a .highlight class to force green color */
.highlight {
  color: var(--highlight) !important;
}
